# See https://www.dartlang.org/guides/libraries/private-files


# Avoid committing generated Javascript files:

# Avoid committing Apple DS_Store
.DS_Store

# avoid node module directory
node_modules/

# unneeded files
package-lock.json
scratch.txt
design.md
settings.json
.vscode