@tailwind base;
@tailwind components;
@tailwind utilities;

#sector-output {
  height: 70vh;
  overflow-y: auto;
}

.sector-table thead th {
  opacity: 1;
  position: sticky;
  top: 0;
  background-color: rgb(209 213 219);
}

.sector-table tbody tr {
  border-bottom: 2px;
  border-color: rgb(209 213 219);
  border-style: solid;
}

.sector-table tbody td {
  padding: 3px 4px;
  vertical-align: top;
}

.center-text {
  text-align: center;
}
